html {

    margin: 0px,
}

body {
    font-family: sans-serif;
    margin: 0px,
}
.main {

    background-color: white;
    margin: 0px 0px;
    padding: 0px;
    position: relative;
}
/* Header specific selectors */
.middlePartCareers {
    display: flex;
    padding: 20px 20px 20px 20px;
    justify-content: left;
}
/* END of Header specific selectors */

/* Left column of middle part */
.leftColumnResources {
    padding: 10px 110px 10px 10px;
    margin-right: 50px;
    background-color: white;
}
.leftGridResources {
    display: grid;
    grid-template-columns: 1fr;
}
.resourceList {
    display: block;
    font-size: 1.5rem;
    border: 2px solid rgba(0, 0, 0, 0.8);
    margin: 0px;
    padding: 20px 40px; 
    color: black;
}
.navLinkResources {
    color: black;
    text-decoration: none;
}
a:hover {
    color: gold;
    text-decoration: underline;
}
.iconLink {
    color: white;
}