html {

    margin: 0px,
}

body {
    font-family: sans-serif;
    margin: 0px,
}
.main {

    background-color: white;
    margin: 0px 0px;
    padding: 0px;
    position: relative;
}
.header {
    display: flex;
    padding: 0px 10px;
    background-color: royalblue;
    position: relative;
}
.mainNav {
    display: block;
}
.logoTIM {
    display: inline-block;
}
.logoTIMText {
    color: white;
    font-size: 2rem;
}
.logoTamImage {
    display: inline-block;
    margin: 10px;
}
.itemNavigation {
    display: flex;
    padding: 10px 10px 0px 10px;
}
.navList {
    margin-bottom: 0px;
    list-style-type:none;
}
.topNavItems {
    padding: 0px;
    color: white;
    font-size: 1.3rem;
}
.itemNavigation li {
    display: inline-block;
    padding: 1rem 2rem;
    padding: 10px;
}
ul.navList {
    margin: 0px;
    padding: 0px;
}
.itemNavigationtop {
    display: flex;
    padding: 10px 10px 0px 10px;
    flex-direction: row-reverse;
    width: 1200px;
}
.itemNavigationtop li {
    display: inline-block;
    padding: 1rem 2rem;
    padding: 10px 10px;
}
li.bottomNavItems  {
    padding: 0px;
    color: white;
    font-size: 1.7rem;
    padding: 10px 20px;
}
.searchBox div {
    display: block;
    justify-content: space-between;
    color: grey;
}
.searchHeight {
    display: block;
    font-size: 1.2rem;
    background-image: url(loop-s.png);
    background-repeat: no-repeat;
    background-position: 135px 2px;
    padding: 5px 5px 5px 5px;
    margin: 0px 0px;
    border-color: lightgray;
}
li.topNavItemsLanguage {
    padding: 0px;
    color: white;
    font-size: 1.2rem;
    padding: 10px 20px;
    border-color: white;
    border-style: solid;
    border-radius: 4px;
    border-width: 2px;
    padding: 4px;
    text-decoration: underline;
}
.navLink {
    color: white;
    text-decoration: none;
}
a:hover {
    color: gold;
    text-decoration: underline;
}
.active, .collapsible:hover {
    background-color: royalblue;
    color: gold;
    text-decoration: underline;
  }
  .active:after {
    content: "\2212";
  }
li.collapsible {
    display: inline-block;
    background-color: royalblue;
    color: white;
    cursor: pointer;
    width: 154px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    font-size: 1.7rem;
    padding: 10px 20px;
    display: inline-flexbox;
  }
.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    margin-left: 5px;
    display: inline-block;
  }
  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: royalblue;
    color: gold;
    display: block;
    font-size: 1.5rem;
  }
  .box {
      display: inline-block;
  }

/* middle part */

  .middlePart {
    display: flex;
    padding: 20px 20px 20px 20px;
    justify-content: center;
    min-width: 900px;
}
.leftColumn {
    padding: 0px 60px 0px 60px;
    background-color: rgb(175,217,255);
}
h3.inlineHeading3 {
    display: inline-block;
    font-size: 1.7rem;
    color: black;
    margin: 15px 5px 5px 5px;
    justify-content: center;
}
.rightColumn {
    padding: 0px 0px;
}
.availablePositions {
    display: flex;
    margin: 0px 0px;
}
.checklistIcon {
    display: inline-block;
    border-radius: 15px;
}
.locationTextNav {
    font-size: 2rem;
    padding: 10px 20px;
    margin: 0px;
}
.locationText {
    font-size: 1rem;
    padding: 10px 20px;
    margin: 0px;
}
.searchHeightLocation {
    display: block;
    font-size: 1.2rem;
    background-image: url(loop-s.png);
    background-repeat: no-repeat;
    background-position: 135px 2px;
    padding: 5px 5px 5px 5px;
    margin: 20px 5px;
    border-color: lightgray;
}
.searchHeightLocation2 {
    display: block;
    font-size: 1.2rem;
    background-repeat: no-repeat;
    background-position: 135px 2px;
    padding: 5px 5px 5px 5px;
    margin: 10px 5px 10px 30px;
    border-color: lightgray;
}
select.searchHeightLocation3 {
    display: block;
    font-size: 1rem;
    background-repeat: no-repeat;
    background-position: 135px 2px;
    padding: 5px 5px 5px 5px;
    margin: 0px 5px;
    border-color: lightgray;
    background-color: white;
    color: black;
}
.lowerPart {
    display: flex;
    padding: 0px;
    justify-content: center;
}
.leftColumnLower1 {
    padding: 0px 50px 0px 50px;
    margin: 5px 20px;
    background-color: rgb(175,217,255);
    display: block;
    border-radius: 15px;
}
.leftColumnLower2 {
    padding: 0px 50px 0px 50px;
    margin: 5px 20px;
    background-color: rgb(175,217,255);
    display: block;
    border-radius: 15px;
}

.studentPositions {
    display: block;
    margin: 20px 0px;
}
.studentText {
    font-size: 2rem;
    padding: 20px 20px;;
    margin: 0px 20px;
}
.studentLink {
    color: black;
    text-decoration: underline;
}
a.studentLink:hover {
    color: rgb(155, 117, 22);
    text-decoration: underline;
}
.studentBlock {
    display: block;
}

/* Footer */
.footer {
    display: flex;
    padding: 0px 10px;
    background-color: rgb(60, 64, 67);
    position: relative;
    justify-content: center;
}
.itemNavigationFooter {
    display: flex;
    padding: 10px 10px 0px 10px;
    justify-content: center;
    position: relative;
}
.itemNavigationFooter li {
    display: inline-block;
    padding: 1rem 2rem;
    padding: 10px 10px;
    justify-content: center;
}
.iconLink {

    text-decoration: underline;
}
a.iconLink:hover {
    color: white;
    text-decoration: underline;
}
.iconLink {
    color: white;
}
#period1 {
    font-size: 1.5rem;
}
.periods {
    display: block;
    margin-left: 0px;
    font-size: 1.5rem;
    padding-top: 20px;
}
.datePosted {
    display: flex;
}
/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 0px;
    cursor: pointer;
    font-size: 1.5rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
       top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
  }
  .navList {
    margin-bottom: 0px;
    list-style-type:none;
}
.topNavItems {
    padding: 0px;
    color: white;
    font-size: 1rem;
}
.searchHeightLocation3 {
    display: block;
    font-size: 1rem;
    background-repeat: no-repeat;
    background-position: 135px 2px;
    padding: 5px 5px 5px 5px;
    margin: 0px 5px;
    border-color: lightgray;
    background-color: royalblue;
    color: white;
}
.itemNavigationFooter {
    display: flex;
    padding: 10px 10px 0px 10px;
    justify-content: center;
    position: relative;
}
.navList {
    margin-bottom: 0px;
    list-style-type:none;
}
li.bottomNavItems  {
    padding: 0px;
    color: white;
    font-size: 1.7rem;
    padding: 10px 20px;
}